@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Iosevka Charon', sans-serif  ;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    border-bottom: 5px solid #6F6F6F 
 }
nav h1{ 
    color: #717171;
    font-family: 'playfair', sans-serif;
    font-size: 30px;
}
.logo{
    background-image: url("image/site-web/Harmony-spirit.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin: 0px;
}
nav ul{
    display:flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 600px;
}
nav .onglets a{

    text-decoration: none;
    color: #000;
    margin-right: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header{
    display:flex;
    flex-direction:column;
    align-items: center;
    background: url('image/site-web/image-cabinet4.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 150px;
}
header h1{
    font-family: 'playfair', sans-serif;
    font-size: 50px;
    color:#00b7ff;
    position: relative;
    top: -20px;
    transform: translateX(-100px);
    border-bottom: 1px solid #fff;
    flex-wrap:wrap;
}
 h6{
    flex-direction:column;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    text-align:center;
     font-size: 30px;
    font-weight: bold;
     background: linear-gradient(to right, pink, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
header h4{
    color: #ff00d4;
    margin-top: -20px;
    font-size: 30px;
    text-align:center;
    position: relative;
    top: 0px;
    transform: translateX(100px);
    flex-wrap:wrap;
}
header buttom{
    padding: 10px 20px;
    background-color: #fff; 
    color: #000;
    border: none;
    font-size: 20px;
    font-family: 'playfair', sans-serif;
    outline: none;
    cursor: pointer;
}
#apropos{
   font-family: 'playfair', sans-serif;
    margin-top: 20px;
    flex-direction:column;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
}
#apropos h2{
   text-decoration: underline #000;
   font-size: 40px;
   font-family: 'playfair', sans-serif;
   flex-direction: column;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
#formation{
    font-family: 'playfair', sans-serif;
    margin-top: 20px;
    flex-direction:column;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
}
#formation h1{
   text-decoration: underline #000;  
}
#formation h2{
    font-family: 'playfair', sans-serif;
    margin: 20px;
    flex-direction:column;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
}
.main{
    margin-top: 40px;
    display:flex;
flex-direction: column;
align-items:center;
}
.main .content .card{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 20px; 
}
.main .content .card .left{
   flex: 0 0 30%; 
   padding: 20px;
   background-color: black;
   color: #fff;
}
.main .content .card.right{
   flex: 0 0 70%; 
}
.main .content .card .right img{
    height: 300px;
    width: 400px; 
    margin-top: 5px;
}

footer{
    align-items: column ; 
    margin-top: 40px;
    border-top: 5px solid #6F6F6F;
    background-color: #000;
    color: #fff;
    padding: 30px 100px; 
    margin-bottom: -500px;  
}
footer h1{
    font-family: 'playfair', sans-serif;
    border-bottom: 1px solid #fff;
    width: 8%;
    padding-bottom: 5px;
    transform:translateX(200px);
    position: relative;
    top: -300px;   
}
footer h4{
transform:translateX(200px);
position: relative;
top: -300px;
}
footer h3{
transform:translateX(200px);
position: relative;
top: -300px;
}
footer p{
transform:translateX(200px);
position: relative;
top: -300px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
    padding: 10px;    
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}
@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .main .card{
        margin: 10px;
    }
    .main .content .card .right{
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }
    .main .content .card{
        display:block;
    }
    footer{
        padding: 30px;
    }

}
